<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="boeing.awt"
      android:versionCode="26" android:versionName="2.0.8-pre1 ***EXPERIMENTAL***">
    <uses-sdk android:minSdkVersion="7" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Connect"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait" 
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        
        
    </application>
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>   
	<uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>    
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
</manifest> 
