*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
ClientLib/build/generated/assets/
ClientLib/build/generated/res/
ClientLib/build/generated/source/aidl/androidTest/
ClientLib/build/generated/source/rs/
ClientLib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
ClientLib/build/intermediates/incremental/packageDebugAndroidTest/
ClientLib/build/intermediates/incremental/processDebugAndroidTestResources/
ClientLib/build/intermediates/incremental/processDebugResources/
ClientLib/build/intermediates/lint/
ClientLib/build/intermediates/manifest/tmp/
ClientLib/build/intermediates/rs/
ClientLib/build/intermediates/shaders/
dJISDKLIB/build/generated/assets/
dJISDKLIB/build/generated/res/
dJISDKLIB/build/generated/source/aidl/
dJISDKLIB/build/generated/source/rs/
dJISDKLIB/build/intermediates/bundles/debug/aidl/
dJISDKLIB/build/intermediates/bundles/default/aidl/
dJISDKLIB/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
dJISDKLIB/build/intermediates/incremental/packageDebugAndroidTest/
dJISDKLIB/build/intermediates/incremental/processDebugAndroidTestResources/
dJISDKLIB/build/intermediates/incremental/processDebugResources/
dJISDKLIB/build/intermediates/lint/
dJISDKLIB/build/intermediates/manifest/tmp/
dJISDKLIB/build/intermediates/rs/
dJISDKLIB/build/intermediates/shaders/
followApp/build/generated/assets/
followApp/build/generated/res/
followApp/build/generated/source/aidl/
followApp/build/generated/source/rs/
followApp/build/intermediates/bundles/debug/aidl/
followApp/build/intermediates/bundles/debug/assets/
followApp/build/intermediates/bundles/debug/res/
followApp/build/intermediates/bundles/default/aidl/
followApp/build/intermediates/bundles/default/assets/
followApp/build/intermediates/bundles/default/res/
followApp/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
followApp/build/intermediates/incremental/packageDebugAndroidTest/
followApp/build/intermediates/incremental/packageDebugResources/merged.dir/
followApp/build/intermediates/incremental/packageReleaseResources/merged.dir/
followApp/build/intermediates/incremental/processDebugAndroidTestResources/
followApp/build/intermediates/incremental/processDebugResources/
followApp/build/intermediates/lint/
followApp/build/intermediates/manifest/tmp/
followApp/build/intermediates/rs/
followApp/build/intermediates/shaders/
models/build/generated/assets/
models/build/generated/res/
models/build/generated/source/aidl/
models/build/generated/source/r/debug/
models/build/generated/source/rs/
models/build/intermediates/blame/
models/build/intermediates/bundles/debug/aidl/
models/build/intermediates/bundles/debug/res/
models/build/intermediates/bundles/default/aidl/
models/build/intermediates/bundles/default/res/
models/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
models/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
models/build/intermediates/incremental/packageDebugAndroidTest/
models/build/intermediates/incremental/packageDebugResources/merged.dir/
models/build/intermediates/incremental/packageReleaseResources/merged.dir/
models/build/intermediates/incremental/processDebugAndroidTestResources/
models/build/intermediates/incremental/processDebugResources/
models/build/intermediates/l
int/
models/build/intermediates/manifest/tmp/
models/build/intermediates/res/merged/
models/build/intermediates/rs/
models/build/intermediates/shaders/
models/build/intermediates/symbols/
speechapp/build/generated/res/
speechapp/build/generated/source/aidl/
speechapp/build/generated/source/r/androidTest/
speechapp/build/generated/source/rs/
speechapp/build/intermediates/blame/res/androidTest/
speechapp/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
speechapp/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
speechapp/build/intermediates/incremental/mergeDebugResources/aapt-temp/
speechapp/build/intermediates/incremental/packageDebug/
speechapp/build/intermediates/incremental/packageDebugAndroidTest/
speechapp/build/intermediates/incremental/packageRelease/
speechapp/build/intermediates/incremental/processDebugAndroidTestResources/
speechapp/build/intermediates/incremental/processDebugResources/
speechapp/build/intermediates/manifest/tmp/
speechapp/build/intermediates/manifests/instant-run/
speechapp/build/intermediates/res/merged/androidTest/
speechapp/build/intermediates/rs/
speechapp/build/intermediates/symbols/androidTest/
starLib/build/generated/assets/
starLib/build/generated/res/
starLib/build/generated/source/aidl/
starLib/build/generated/source/rs/
starLib/build/intermediates/bundles/debug/aidl/
starLib/build/intermediates/bundles/debug/assets/
starLib/build/intermediates/bundles/default/aidl/
starLib/build/intermediates/bundles/default/assets/
starLib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
starLib/build/intermediates/incremental/packageDebugAndroidTest/
starLib/build/intermediates/incremental/processDebugAndroidTestResources/
starLib/build/intermediates/incremental/processDebugResources/
starLib/build/intermediates/lint/
starLib/build/intermediates/manifest/tmp/
starLib/build/intermediates/rs/
starLib/build/intermediates/shaders/
starlTemplate/build/generated/res/
starlTemplate/build/generated/source/aidl/
starlTemplate/build/generated/source/rs/
starlTemplate/build/intermediates/blame/res/androidTest/
starlTemplate/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
starlTemplate/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
starlTemplate/build/intermediates/incremental/mergeDebugResources/aapt-temp/
starlTemplate/build/intermediates/incremental/packageDebug/
starlTemplate/build/intermediates/incremental/packageDebugAndroidTest/
starlTemplate/build/intermediates/incremental/packageRelease/
starlTemplate/build/intermediates/incremental/processDebugAndroidTestResources/
starlTemplate/build/intermediates/incremental/processDebugResources/
starlTemplate/build/intermediates/manifest/tmp/
starlTemplate/build/intermediates/manifests/instant-run/
starlTemplate/build/intermediates/res/merged/androidTest/
starlTemplate/build/intermediates/rs/
starlTemplate/build/intermediates/symbols/androidTest/
testcontroller/src/main/res/drawable/
wear/build/generated/res/
wear/build/generated/source/aidl/
wear/build/generated/source/r/androidTest/
wear/build/generated/source/rs/
wear/build/intermediates/blame/res/androidTest/
wear/build/intermediates/incremental/mergeDebugAndroidTestResources/aa
pt-temp/
wear/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
wear/build/intermediates/incremental/mergeDebugResources/aapt-temp/
wear/build/intermediates/incremental/packageDebug/
wear/build/intermediates/incremental/packageDebugAndroidTest/
wear/build/intermediates/incremental/packageRelease/
wear/build/intermediates/incremental/processDebugAndroidTestResources/
wear/build/intermediates/incremental/processDebugResources/
wear/build/intermediates/manifest/tmp/
wear/build/intermediates/manifests/instant-run/
wear/build/intermediates/res/merged/androidTest/
wear/build/intermediates/rs/
wear/build/intermediates/symbols/androidTest/
models/build/intermediates/lint/
wear/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
ClientLib/build/
dJISDKLIB/build/generated/
dJISDKLIB/build/intermediates/
followApp/build/intermediates/blame/
followApp/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
followApp/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
followApp/build/intermediates/incremental/mergeDebugAssets/
followApp/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
followApp/build/intermediates/incremental/mergeDebugResources/merger.xml
followApp/build/intermediates/incremental/mergeDebugShaders/
followApp/build/intermediates/incremental/mergeReleaseAssets/
followApp/build/intermediates/incremental/mergeReleaseShaders/
followApp/build/intermediates/incremental/packageDebugResources/
followApp/build/intermediates/incremental/packageReleaseResources/
models/build/generated/
models/build/intermediates/
speechapp/build/generated/
speechapp/build/intermediates/
starLib/build/generated/
starLib/build/intermediates/
starlTemplate/build/generated/
starlTemplate/build/intermediates/
wear/build/generated/
wear/build/intermediates/
/starLib/build/outputs/
dJISDKLIB/build/tmp/
followApp/build/generated/source/apt/
followApp/build/generated/source/r/androidTest/debug/edu/illinois/mitra/starlSim/
followApp/build/generated/source/r/debug/edu/illinois/mitra/starlSim/
followApp/build/intermediates/annotations/
followApp/build/intermediates/bundles/debug/classes.jar
followApp/build/intermediates/bundles/debug/jni/
followApp/build/intermediates/bundles/debug/libs/
followApp/build/intermediates/classes/
followApp/build/intermediates/incremental-safeguard/
followApp/build/intermediates/incremental/mergeDebugJniLibFolders/
followApp/build/intermediates/jniLibs/
followApp/build/intermediates/transforms/
followApp/build/tmp/
logs/
starLSim/build/generated/assets/
starLSim/build/generated/res/
starLSim/build/generated/source/aidl/
starLSim/build/generated/source/apt/
starLSim/build/generated/source/rs/
starLSim/build/intermediates/annotations/
starLSim/build/intermediates/bundles/debug/aidl/
starLSim/build/intermediates/bundles/debug/assets/
starLSim/build/intermediates/bundles/debug/jni/
starLSim/build/intermediates/bundles/debug/res/
starLSim/build/intermediates/bundles/default/aidl/
starLSim/build/intermediates/bundles/default/assets/
starLSim/build/intermediates/bundles/default/jni/
starLSim/build/intermediates/bundles/default/res/
starLSim/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
starLSim/build/intermediates/incremental/packageDebugAndroidTest/
starLSim/build/intermediates/incremental/packageDebugResources/merged.dir/
starLSim/build/intermediates/incremental/packageReleaseResources/merged.dir/
starLSim/build/intermediates/incremental/processDebugAndroidTestResources/
starLSim/build/intermediates/incremental/processDebugResources/
starLSim/build/intermediates/incremental/processReleaseResources/
starLSim/build/intermediates/jniLibs/
starLSim/build/intermediates/lint/
starLSim/build/intermediates/manifest/tmp/
starLSim/build/intermediates/rs/
starLSim/build/intermediates/shaders/
starLSim/build/intermediates/transforms/
starLSim/build/tmp/compileDebugJavaWithJavac/
starLSim/build/tmp/compileReleaseJavaWithJavac/
starLib/build/tmp/
/starLib/build/outputs/aar/
dJISDKLIB/build/
followApp/build/generated/source/r/
followApp/build/outputs/
models/build/
speechapp/build/
starLSim/build/
starLib/build/
starlTemplate/build/
wear/build/
/followApp/build/
